<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <style>
{{ $style := resources.Get "style.sass" | resources.ToCSS | resources.Minify -}}
{{ $style.Content | safeCSS }}
    </style>
  </head>
  <body>

<p>Page layout: <tt>layouts/home.html</tt></p>

<h1>{{ .Title }}</h1>
{{ .Content }}

<ul>
  {{ range $page := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
  <li>
    <p>
      {{ .Date.Format "2006-01-02 15:04:05" }}<br>
      <a href="{{ .Permalink }}">{{ .Title }}</a><br>
      {{ .Summary | markdownify }}
    </p>
  </li>
  {{ end }}
</ul>

  </body>
</html>
